<h1>Awesome Create</h1>
<form *ngIf="updateForm" [formGroup]="updateForm" (ngSubmit)="update(id)">
  <table>
    <tr>
      <td>Tag:</td>
      <td><input type="text" formControlName="tag"></td>
    </tr>
    <tr>
      <td>Url:</td>
      <td><input type="text" formControlName="url"></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" formControlName="descriptions"></td>
    </tr>
    <tr>
      <td><button type="submit">Update</button>
        <button routerLink="">Back</button></td>
    </tr>
  </table>
</form>

